<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">LLS</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Manage Users
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/createUser">Create User</a>
        <a class="dropdown-item" href="/retrieveUsers">Retrieve Users</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/contactUs">Contact Us</a>
    </li>
  </ul>
</nav>
