{% extends "base.html" %}
{% block title %}Library Loan System - Contact Us{% endblock %}

{% block content %}
<h1 class="display-4">Contact Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#DIT">DIT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DBA">DBA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DSF">DSF</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="DIT">
    <br>
    <h2>IT1166 App Development Project</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ms. Jasmine Ng</td>
          <td>Module Leader</td>
          <td><a href="mailto:jasmine_ng@nyp.edu.sg">jasmine_ng@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Chua Li Chien</td>
          <td>Module Tutor</td>
          <td><a href="mailto:CHUA_LI_CHIEN@myaccount.nyp.edu.sg">CHUA_LI_CHIEN@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Lee Chit Boon</td>
          <td>Module Tutor</td>
          <td><a href="mailto:lee_chit_boon@nyp.edu.sg">lee_chit_boon@nyp.edu.sg</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane container-fluid fade" id="DBA">
    <br>
    <h2>IT1366 App Development Project</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Alvin Tay</td>
          <td>Module Leader</td>
          <td><a href="mailto:alvin_tay@nyp.edu.sg">alvin_tay@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Chua Li Chien</td>
          <td>Module Tutor</td>
          <td><a href="mailto:CHUA_LI_CHIEN@myaccount.nyp.edu.sg">CHUA_LI_CHIEN@myaccount.nyp.edu.sg</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane container-fluid fade" id="DSF">
    <br>
    <h2>IT1566 App Development Project</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ms. Jasmine Ng</td>
          <td>Module Leader</td>
          <td><a href="mailto:jasmine_ng@nyp.edu.sg">jasmine_ng@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Verawaty</td>
          <td>Module Tutor</td>
          <td><a href="mailto:verawaty@nyp.edu.sg">verawaty@nyp.edu.sg</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
